@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

/* color root */
:root {
  --whitesmoke: #f5f5f5;
  --white: #fff;
  --primary-background: #444;
  --scend-background: #333;
  --magenta: #f0f;
  --aqua: #0ff;
  --box-shadow: #000000cc;
}

body {
  display: flex;
  margin: 0;
  padding: 0;
  min-height: 100vh;
  background: var(--primary-background);
  justify-content: center;
  align-items: center;
  font-family: "Poppins", sans-serif;
}
.container {
  width: 1000px;
  position: relative;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.card {
  position: relative;
}
.face {
  width: 300px;
  height: 200px;
  transition: all 0.3s;
}
.face.face1 {
  position: relative;
  background: var(--scend-background);
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  z-index: 1;

  transform: translateY(100px);
}
.card:hover .face.face1 {
  transform: translateY(0);
  box-shadow: inset 0 0 60px var(--whitesmoke), inset 20px 0 80px var(--magenta),
    inset -20px 0 80px var(--aqua), inset 20px 0 300px var(--magenta),
    inset -20px 0 300px var(--aqua), 0 0 50px var(--white),
    -10px 0 80px var(--magenta), 10px 0 80px var(--aqua);
}
.face.face1 .content {
  opacity: 0.2;
  transition: 0.5s;
  text-align: center;
}
.card:hover .face.face1 .content {
  opacity: 1;
}
.face.face1 .content i {
  font-size: 3em;
  color: var(--white);
  display: inline-block;
}
.face.face1 .content h3 {
  font-size: 1em;
  color: var(--white);
  text-align: center;
}
.face.face1 .content a {
  transition: 0.5s;
}
.face.face2 {
  position: relative;
  background: var(--whitesmoke);
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px;
  box-sizing: border-box;
  box-shadow: 0 20px 50px var(--box-shadow);
  transform: translateY(-100px);
}
.card:hover .face.face2 {
  transform: translateY(0);
}
.face.face2 .content p,
a {
  font-size: 10pt;
  margin: 0;
  padding: 0;
  color: var(--scend-background);
}
.face.face2 .content a {
  text-decoration: none;
  color: #000;
  box-sizing: border-box;
  outline: 1px dashed var(--scend-background);
  padding: 10px;
  margin: 15px 0 0;
  display: inline-block;
}
.face.face2 .content a:hover {
  background: var(--scend-background);
  color: var(--whitesmoke);
  box-shadow: inset 0 0 10px var(--box-shadow);
}
